.services-main-body {
  padding: 10vw;
  padding-top: 170px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  box-sizing: border-box;
  min-height: 100vh;
}

.service-body {
  display: grid;
  grid-template-columns: 30% 70%;
}

.services-left-section {
  border-right: 1px solid #eaeaea;
  padding: 1rem;
  padding-top: 2rem;
}

.services-left-menu-selection {
  margin: 2rem 0;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.active-menu-item-services {
  width: fit-content;
  display: flex;
  flex-direction: column;
  font-size: 24px;
  transition: 0.3s;
}

.active-menu-item-services::after {
  content: "";
  height: 6px;
  width: 100%;
  background-color: var(--secondary-color);
}

.menu-item-services {
  display: flex;
  cursor: pointer;
  font-size: 24px;
  width: fit-content;
  flex-direction: column;
}

.menu-item-services::after {
  content: "";
  height: 6px;
  width: 20%;
  background-color: var(--secondary-color);
  transition: 0.3s;
}

.menu-item-services:hover::after {
  content: "";
  height: 6px;
  width: 100%;
  background-color: var(--secondary-color);
}

.services-right-section {
  padding: 2rem;
}

.services-right-section-image {
  width: 300px;
  height: 300px;
}

.services-right-section-list {
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
}

.services-right-section-card {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  background-color: var(--primary-color);
  color: #fff;
  padding: 1.5rem;
  width: 180px;
  height: 180px;
  border-radius: 30px;
}

.service-left-section-button {
  display: flex;
  justify-content: center;
  margin-top: 4rem;
}
