.tuitionSignUp-wrapper-body {
  display: flex;
  justify-content: center;
  padding-top: 160px;
  min-height: 90vh;
}

.tuitionSignUp-body {
  padding: 2rem;
  border-radius: 30px;
  background: #e8e8e8;
  box-shadow: inset 9px 9px 18px #c5c5c5, inset -9px -9px 18px #ffffff;
  height: 100%;
}

.tuitionSignUp-form {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(2, 330px);
}
