.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

/* .sign-up-logo {
    background: linear-gradient(
      to left,
      #6c6488,
      #a56697,
      #e16585,
      #ff7657,
      #fba100
    );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  } */
