.footer-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--ternary-color);
  color: #000;
  padding: 1rem;
}

.footer {
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-items: center;
  width: 70vw;
}

.footer-services-flex {
  display: flex;
  gap: 2rem;
}

.horizontal-line-footer {
  width: 70vw;
  height: 2px;
  background-color: var(--secondary-color);
  margin: 1rem 0;
}

.footer-last-part {
  width: 70vw;
}

.icon-footer {
  transition: 0.3s;
  font-size: 28px;
  cursor: pointer;
  border: 2px solid var(--primary-color);
  border-radius: 50%;
  padding: 0.2rem;
  color: #272727;
}

.icon-footer:hover {
  transform: scale(1.2);
}

.mail-icon:hover {
  color: #3b82f6;
  border-color: #3b82f6;
}

.whatsapp-icon:hover {
  color: #25d366;
  border-color: #25d366;
}

.facebook-icon:hover {
  color: #3b5998;
  border-color: #3b5998;
}

.youtube-icon:hover {
  color: #ff0000;
  border-color: #ff0000;
}

.each-division-service-footer {
  min-height: 150px;
}

.whole-division-footer {
  width: 50%;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 1200px) {
  .footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90vw;
    gap: 2rem;
  }

  .horizontal-line-footer {
    width: 90vw;
  }

  .whole-division-footer {
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
    width: 80%;
  }
}

@media screen and (max-width: 600px) {
  .whole-division-footer {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 50%;
  }

  .each-division-service-footer {
    min-height: 100px;
  }
}
