.landing-body{
    padding: 10vw;
    padding-top: 130px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    box-sizing: border-box;
}

.first-section, .second-section{
    width: 75vw;
}

.first-section{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    height: 60vh;
}

.videoWrapper{
    position: relative;
    display: flex;
    z-index: 10;
}

.banner-image{
    width: 550px;
    height: 100%;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

.videoWrapper::before{
    content: '';
    background: url("../../images/brush.webp");
    position: relative;
    width: 115px;
    height: 150px;
    left: 50px;
    bottom: -220px;
    z-index: -8;
    opacity: 0.8;
}

.videoWrapper::after{
    content: '';
    background-color: #3B82F6;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    position: absolute;
    width: 380px;
    height: 340px;
    top: -20px;
    right: -70px;
    z-index: -8;
    opacity: 0.8;
}

.iframe{
    min-width: 40vw;
    height: 400px;
}

.second-section{
    padding: 2rem;
}

.video-section{
    display: flex;
    justify-content: center;
    padding: 2rem;
}

.second-section-header{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
}

.card-pack{
    display: grid;
    grid-template-columns: repeat(3, 400px);
    justify-content: center;
    align-items: center;
    text-align: center;
    grid-gap: 3rem;
    padding: 1rem;
    margin-top: 2rem;
}

.each-card{
    position: relative;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    overflow: hidden;
    transition: 0.5s;
    background-repeat:no-repeat;
    background-position: center center;
    height: 300px;
}

.card--inactive{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: #fff;
}

.horizontal-line{
    width: 40px;
    height: 5px;
    background-color: #3B82F6;
    margin: 0.5rem 0;
}

.card-description{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: left;
    background-color: rgba(0, 0, 0, 0.603);
    height: 100%;
    top: 0px;
    color: #fff;
    padding: 20px;
}