.form-manage-access-subject {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.button-form-manage-subject {
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
}

.subManageSubject{
  padding: 1rem;
}