:root {
  --primary-color: #6d7993;
  /* --secondary-color: #96858f; */
  --red-shade-color: #934a5f;
  --secondary-color: #6b5759;
  --ternary-color: #9099a2;
  --text-color: #576176;
  --magic-number: 0.09719; /* tan(11°)/2 */
  --content-width: 100vw;
  --skew-padding: calc(var(--content-width) * var(--magic-number));
}

h1 {
  margin: 0;
}

.App {
  background: #d5d5d5;
  min-height: 100vh;
  box-sizing: border-box;
  overflow: hidden;
  -webkit-font-smoothing: subpixel-antialiased;
  text-rendering: geometricPrecision;
}

/* Global Styles used */

.our-button {
  background: var(--secondary-color);
  border: var(--secondary-color);
}

.our-button:hover {
  background: var(--secondary-color) !important;
}

.p-button-outlined {
  color: #d5d5d5 !important;
}

.primary-colour {
  color: var(--primary-color);
}

.secondary-colour {
  color: var(--secondary-color);
}

.ternary-colour {
  color: var(--ternary-color);
}

.text-colour {
  color: var(--text-color);
}

.text-grey {
  color: #6b6b6b;
}

.text-light-grey {
  color: #9e9fa7;
}

.text-white-light {
  color: #e6e6e6;
}

.text-black {
  color: #272727;
}

.text-green {
  color: #1fc264;
}

.text-red {
  color: #ff4c41;
}

.text-blue {
  color: #51a6f5;
}

.pointer {
  cursor: pointer;
}

.primary-header-text {
  font-size: 55px;
  font-weight: 700;
}

.primary-font {
  font-family: "Quicksand";
}

.description-text {
  font-size: 20px;
  font-weight: 500;
  text-align: justify;
}

.larger-text {
  font-size: 30px;
}

.mid-large-text {
  font-size: 25px;
}

.large-text {
  font-size: 20px;
}

.medium-text {
  font-size: 16px;
}

.small-text {
  font-size: 14px;
}

.very-small-text {
  font-size: 12px;
}

.bold {
  font-weight: 600;
}

.bolder {
  font-weight: 700;
}

.boldest {
  font-weight: 800;
}

.flex-small-gap {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.flex-gap {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.red-icon {
  font-size: 22px;
  transition: 0.5s;
}

.red-icon:hover {
  color: red;
}

.small-padding-bottom {
  padding-bottom: 1rem;
}

.small-margin-top {
  margin-top: 1rem;
}

.small-margin-bottom {
  margin-bottom: 1rem;
}

.medium-margin-top {
  margin-top: 1.5rem;
}

.copyright {
  font-size: 16px;
  font-weight: 700;
  padding: 1.5rem 2rem;
  bottom: 0;
  text-align: center;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
}

.horizontal-line {
  width: 60px;
  height: 5px;
  background-color: var(--red-shade-color);
}

.flex-small-gap-column {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.flex-gap-column-2 {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.flex-gap-column {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

/* Custom Scrollbar */

/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--secondary-color) #d5d5d5;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: #d5d5d5;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--secondary-color);
  border-radius: 20px;
  border: 3px solid var(--secondary-color);
}

/* Custom Animations */

@keyframes pulse-border {
  0% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    opacity: 1;
  }
  100% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
    opacity: 0;
  }
}
