@import '~antd/dist/antd.css';

.App{
    /* background-image: linear-gradient(rgba(0, 0, 0, 0.040), rgba(0, 0, 0, 0.060)), url("./images/main-background.webp"); */
    background: rgb(221,221,221);
    background: radial-gradient(circle, rgba(221,221,221,1) 0%, rgba(238,238,238,1) 100%);
    min-height: 100vh;
    scroll-behavior: smooth;
}

/* Global Styles used */

.ant-table-thead > tr > th{
    font-weight: 700;
    color: #272727;
}

.button-primary{
    background-color: #f07d00;
    border: none;
    border-radius: 20px;
    margin-top: 1rem;
    color: #fff;
}

.button-primary:hover{
    background-color: #fff;
    color: #f07d00;
    border: 1px solid #f07d00;
}

.button-primary:focus{
    background-color: #f07d00;
    color: #fff;
}

.header-log-out-btn{
    animation: zoom-in 0.8s;
    font-weight: 600;
}

.header-log-out-btn:after {
    content: '';
    position: absolute;
    font-weight: 600;
    opacity: 0;  
    transition: 0.5s;
}

.header-log-out-btn:hover{
    padding-right: 64px;
    padding-left : 8px;
  }
  
.header-log-out-btn:hover:after {
    content: 'Log Off';
    opacity: 1;
    right: 10px;
}


.text-grey{
    color: #6b6b6b;
}

.text-light-grey{
    color: #9e9fa7;
}

.text-orange{
    color: #f07d00;
}

.text-black{
    color: #272727;
}

.text-green{
    color: #1fc264;
}

.text-red{
    color: #ff4c41;
}

.text-blue{
    color: #51a6f5;
}

.pointer{
    cursor: pointer;
}

.large-text{
    font-size: 20px;
}

.medium-text{
    font-size: 16px;
}

.small-text{
    font-size: 14px;
}

.very-small-text{
    font-size: 12px;
}

.bold{
    font-weight: 600;
}

.bolder{
    font-weight: 700;
}

.flex-small-gap{
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.flex-between{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.red-icon{
    font-size: 22px;
    transition: 0.5s;
}

.red-icon:hover{
    color: red;
}

.slide-in-left-animation{
    animation: slide-in-left 0.8s;
}

.slide-in-right-animation{
    animation: slide-in-right 0.8s;
}

.slide-in-top-animation{
    animation: slide-in-top 0.8s;
}

.slide-in-bottom-animation{
    animation: slide-in-bottom 0.8s;
}

.zoom-in-animation{
    animation: zoom-in 0.8s;
}

.small-padding-bottom{
    padding-bottom: 1rem;
}

.small-margin-top{
    margin-top: 1rem;
}

.medium-margin-top{
    margin-top: 1.5rem;
}

.copyright{
    font-size: 16px;
    font-weight: 700;
    padding: 1.5rem 2rem;
    bottom: 0;
    text-align: center;
}

.table{
    display: flex;
    flex-direction: column;
    animation: slide-in-top 0.6s;
    padding: 0 1.5rem;
    min-height: 70vh;
}

.ant-table table { 
    font-size: 16px; 
    font-weight: 600;
    color: #6b6b6b;
}

.flex-between{
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
}

.padding-top-public-cv{
    padding-top: 50px;
}

.grid-2{
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 0.5rem;
    justify-content: space-between;
}

.flex-at-end{
    display: flex;
    justify-content: flex-end;
    gap: 0.5rem;
}

.link{
    transition: 0.3s;
}

.link:hover{
    transform: scale(1.05);
    color: #f07d00;
}

.link-green{
    transition: 0.3s;
}

.link-green:hover{
    transform: scale(1.05);
    color: #1fc264;
}

.no-margin-top{
    margin-top: 0;
}

.flex-small-gap-column{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.flex-gap-column{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.pagination{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.pagination-total{
    font-size: 16px;
    font-weight: 700;
    color: #6b6b6b;
}

.button-zoom{
    transition: 0.3s;
}

.button-zoom:hover{
    transform: scale(1.05);
}


/* Custom Animations */

@keyframes fade-in {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@keyframes zoom-in {
    0%{
        transform: scale(0.8);
        opacity: 0;
    }
    100%{
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes slide-in-left {
    0%{
        transform: translateX(-100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slide-in-right {
    0%{
        transform: translateX(100px);
    }
    100%{
        transform: translateX(0);
    }
}

@keyframes slide-in-top {
    0%{
        transform: translateY(50px);
    }
    100%{
        transform: translateY(0);
    }
}

@keyframes slide-in-bottom {
    0%{
        transform: translateY(-50px);
    }
    100%{
        transform: translateY(0);
    }
}