.tuition-dashboard-page{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.mtd-wrapper{
  flex: 1;
  padding: 0 2rem;
  display: flex;
  gap: 1rem;
}

.mtd-info-box{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  width: 320px;
  max-height: 80vh;
  border-radius: 20px;
  background-color: #6d7993;
  word-break: break-all;
}

.mtd-main-box{
  flex: 1;
}

.tuition-wt{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex: 1;
}

.tuition-wt-inner{
  width: 270px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;
  background-color: rgba(240, 248, 255, 0.753);
  border-radius: 20px;
}

.mtd-main-box__inner{
  display: flex;
  gap: 1rem;
}

.mtd-main-box__b-1{
  flex: 0.4;
}

.mtd-main-box__b-2{
  flex: 0.4;
}

.mtd-main-box__b-3{
  flex: 0.2;
}